body{
background-color: #EAF6F6;
}

hr{
background-color: white;
border-style: none;
border-top-style: dotted;
border-width : 5px;
border-color: grey;
width: 5%;
}

h1{
	color:#47B5FF;
}

h3{
	
	color:#47B5FF;
}